<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travellover"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.travellover.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.travellover.LoginMainActivity"></activity>
        <activity android:name="com.travellover.register.RegisterUserFirstActivity"></activity>
        <activity android:name="com.travellover.register.RegisterUserSecondActivity"></activity>
        <activity android:name="com.travellover.register.LoginUserActivity"></activity>
        <activity android:name="com.travellover.user.MainUserActivity"></activity>
        <activity android:name="com.travellover.user.LinePublishActivity"></activity>
        <activity android:name="com.travellover.user.UserSettingActivity"></activity>
        <activity android:name="com.travellover.user.AboutMainActivity"></activity>
        <activity android:name="com.travellover.user.PersonalMainActivity"></activity>
        <activity android:name="com.travellover.user.PersonalDataActivity"></activity>
        <activity android:name="com.travellover.user.OrderListActivity"></activity>
        <activity android:name="com.travellover.user.LineListActivity"></activity>
        <activity android:name="com.travellover.user.LineDetailActivity"></activity>
        <activity android:name="com.travellover.user.TravelerDetailActivity"></activity>
        <activity android:name="com.travellover.register.LoginWithNameActivity"></activity>
        <activity android:name="com.travellover.user.MainDriverActivity"></activity>
        <activity android:name="com.travellover.user.PersonalDriverMainActivity"></activity>
        <activity android:name="com.travellover.user.DriverFarLineListActivity"></activity>
        <activity android:name="com.travellover.user.DriverCloseLineListActivity"></activity>
        <activity android:name="com.travellovercar.register.LoginCarActivity"></activity>
        <activity android:name="com.travellovercar.register.RegisterCarFirstActivity"></activity>
        <activity android:name="com.travellovercar.register.RegisterCarSecondActivity"></activity>
        <activity android:name="com.travellovercar.register.RegisterCarThirdActivity"></activity>
        <activity android:name="com.example.travellover.ContactListActivity"></activity>
        <activity android:name="com.example.travellover.MainTabActivity"></activity>
        <activity android:name="com.example.travellover.MessageofcontactActivity"></activity>
        
    </application>

</manifest>
